Repository williamzujkowski/puppeteer-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser yaml

fix: improve browser launch reliability and CI performance
  .github/workflows/functional-tests.yml
  jest.functional.config.mjs
  src/puppeteer/config.ts
  src/puppeteer/pool/browser-pool-config.ts
  src/puppeteer/pool/browser-utils.ts
Due: eslint --fix, prettier --write

fix: apply code formatting to browser-utils.ts
  src/puppeteer/pool/browser-utils.ts
Due: eslint --fix, prettier --write

fix: resolve WebSocket authentication token missing issue
  .github/workflows/functional-tests.yml
  jest.functional.config.mjs
  src/puppeteer/actions/execution/navigation/url-validator.ts
  src/routes/session/creation-handlers.ts
Due: eslint --fix, prettier --write

improve: optimize functional test configuration for CI stability
  jest.functional.config.mjs
Due: none

fix: allow ESLint warnings in CI pipeline to prevent build failures
  .github/workflows/ci.yml
Due: prettier --write

fix: disable coverage collection in CI unit tests to prevent Puppeteer conflicts
  scripts/test-ci-optimized.sh
Due: none

fix: temporarily skip failing test suites to stabilize CI
  tests/functional/browser-commands-comprehensive.test.ts
  tests/functional/cross-protocol-consistency.test.ts
  tests/functional/cross-protocol-enhanced.test.ts
  tests/functional/mcp-tools-comprehensive.test.ts
  tests/performance/performance-suite.test.ts
Due: eslint --fix, prettier --write

fix: extend timeouts for security tests and skip environment-dependent tests
  tests/security/injection/xss-prevention.test.ts
  tests/security/network/resource-exhaustion.test.ts
Due: eslint --fix, prettier --write

fix: extend XSS prevention test timeouts to 120s
  tests/security/injection/xss-prevention.test.ts
Due: eslint --fix, prettier --write

fix: skip XSS prevention tests due to external URL timeouts
  tests/security/injection/xss-prevention.test.ts
Due: eslint --fix, prettier --write

fix: enable integration tests in Jest configuration
  jest.config.mjs
Due: none

fix: temporarily re-disable integration tests due to module resolution
  jest.config.mjs
Due: none

fix: add --passWithNoTests flag to integration test CI step
  .github/workflows/ci.yml
Due: prettier --write

fix: add performance baseline and GitHub Actions permissions
  .github/workflows/functional-tests.yml
  test-results-baseline.json
Due: prettier --write

Update test badges [skip ci]
  badges/coverage.svg
  badges/tests.svg
  badges/version.svg
Due: none

fix: resolve CLI global installation failures
  package.json
  src/cli/index.ts
Due: eslint --fix, prettier --write

fix: disable incompatible performance analysis in Functional Tests
  .github/workflows/functional-tests.yml
Due: prettier --write

fix: correct Docker Validation port mapping and health endpoint
  .github/workflows/ci.yml
Due: prettier --write

fix: update Docker test environment and startup time
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve gRPC authentication test session persistence issue
  tests/unit/grpc/interceptors.test.ts
  tests/unit/puppeteer/browser-pool.test.ts
Due: eslint --fix, prettier --write

fix: update MCP functional test error handling expectations
  tests/functional/mcp-tools-comprehensive.test.ts
Due: eslint --fix, prettier --write

fix: resolve integration test module resolution issues
  jest.config.mjs
  tests/integration/mcp/mcp-integration.test.ts
Due: eslint --fix, prettier --write

feat: add data URLs utility for security tests and replace external URLs
  tests/security/injection/command-injection.test.ts
  tests/security/utils/data-urls.ts
Due: eslint --fix, prettier --write

fix: apply code formatting to security tests and integration tests
  tests/integration/mcp/mcp-integration.test.ts
  tests/security/utils/data-urls.ts
Due: eslint --fix, prettier --write

fix: resolve proxy integration test failures
  src/puppeteer/proxy/index.ts
  src/puppeteer/proxy/proxy-manager-extended.ts
  tests/integration/proxy/proxy-integration.test.ts
Due: eslint --fix, prettier --write

fix: add missing proxy manager methods for test compatibility
  src/puppeteer/proxy/proxy-manager-extended.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation errors in proxy-manager-extended
  eslint-report.json
  src/puppeteer/proxy/proxy-manager-extended.ts
Due: eslint --fix, prettier --write

fix: add browser pool cleanup to MCP server shutdown
  src/mcp/server.ts
  tests/functional/mcp-tools-comprehensive.test.ts
Due: eslint --fix, prettier --write

fix: add global browser pool cleanup to test setup
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: apply code formatting to test files
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: add type check for browserPool.shutdown method
  src/mcp/server.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: increase test timeouts to prevent CI failures
  tests/functional/mcp-tools-comprehensive.test.ts
  tests/integration/contexts.integration.test.ts
  tests/integration/cross-protocol.test.ts
  tests/integration/mcp/full-flow.test.ts
  tests/integration/mcp/mcp-integration.test.ts
  tests/integration/proxy/proxy-integration.test.ts
  tests/integration/sessions.integration.test.ts
Due: eslint --fix, prettier --write

fix: mock Puppeteer debug module to prevent TypeError in tests
  jest.config.mjs
  tests/__mocks__/puppeteer-debug.js
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: apply prettier formatting to resolve code style issues
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: skip problematic timeout tests in mcp-tools-comprehensive
  tests/functional/mcp-tools-comprehensive.test.ts
Due: eslint --fix, prettier --write

fix: add comprehensive timeout guards to prevent hanging test hooks
  jest.config.mjs
  tests/functional/mcp-tools-comprehensive.test.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: increase ESLint warning threshold to account for existing codebase warnings
  .github/workflows/ci.yml
  tests/functional/mcp-tools-comprehensive.test.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

fix: ensure proper code formatting for CI
  tests/functional/mcp-tools-comprehensive.test.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  prettier --write --parser yaml: any of: *.proto
